/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.logo{
		font-size: 22px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    width: 290px;
	    padding: 0 20px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: 35px;
	    left: 2px;
	}
	/*Header end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.logo{
		font-size: 26px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    width: 300px;
	    padding: 0 20px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: -7px;
	    left: 239px;
	}
	/*Header end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.logo{
		font-size: 26px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    padding: 0 10px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: -8px;
	    left: 329px;
	}
	/*Header end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a {
	    margin: 0 12px;
	}
	/*Header end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { ... }